@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


  :root {
    --font-quicksand: "Quicksand", sans-serif;
    --font-poppins: "Poppins", sans-serif;
    --font-outfit: "Outfit", sans-serif;
    --font-ovo: "Ovo", serif;
    --color-white: #ffff;
    --color-light-gray: #ddd;
    --color-gradient: linear-gradient(to right, var(--color-green), #2f855a);
    --color-green: #6da06a;
    --color-dark-green: #40523f;
    --color-moss-green: #4f584e;
    --color-black: black;
    --color-dark-gray: #333;
    --color-translucent-white: rgba(255, 255, 255, 0.2);
    --color-translucent-black: rgba(0, 0, 0, 0.5);
    --color-translucent-dark: rgba(0, 0, 0, 0.1);
    --color-translucent-dark-35: rgba(0, 0, 0, 0.35);
    --color-red: #d8000c;
  }
  
 